services:
  web:
    build:
      context: .
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./hwseta_addons:/mnt/extra-addons
    environment:
      - PASSWORD_FILE=/run/secrets/postgresql_password
    secrets:
      - postgresql_password
  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresql_password
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    secrets:
      - postgresql_password
    volumes:
      - ./odoo-db-data:/var/lib/postgresql/data/pgdata
  nginx:
    restart: always
    depends_on:
      - web
    image: nginx
    volumes:
      - "./nginx/test.conf:/etc/nginx/conf.d/default.conf"
      - "./nginx/certs:/usr/local/share/ca-certificates"
      - "./code:/var/www/html"
    ports:
      - "80:80"
      - "443:443"
    environment:
      - NGINX_HOST=hub.hwseta.org.za
      - NGINX_PORT=80
volumes:
  odoo-web-data:
  odoo-db-data:

secrets:
  postgresql_password:
    file: odoo_pg_pass