

//.hwseta-hide-chatter-mail .o-mail-Message[aria-label="Note"] {
//display: none !important;
//}

//.hwseta-hide-chatter-mail {
//    /* Hide the Chatter Activity */
//    .o-mail-Message{
//    display: none !important;
//}
//}